<html>
  <head>
    <title>{{t 'title'}}</title>
  </head>
  <body>
    <h1>{{t 'heading'}}</h1>
    <p>{{t 'p'}}</p>
    <a href='{{inviteLink}}'>{{t 'link'}}</a>
    <p>{{t 'greeting'}}</p>
  </body>
</html>